<!-- Uncommon Pipes Page -->
<div class="container">

  <!-- Panel with General Information -->
  <p-panel header="Uncommon Pipes" class="p-1">
    <p>
      These are some of the less common pipes included in Angular, usually part of the Common Module.
    </p>
  </p-panel>

  <!-- Section for i18nSelect Pipe -->
  <div class="col-12">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">

      <p>
        Greetings {{ name }}, it's a pleasure to {{ gender | i18nSelect:invitationMap }} at our event.
      </p>

      <p-button
        (click)="changeClient()"
        label="Change person"
      ></p-button>
      <p>
        <strong>i18nSelect Pipe:</strong> Selects a string based on a specific value.
      </p>
    </p-fieldset>
  </div>

  <!-- Section for i18nPlural Pipe -->
  <div class="col-12">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">

      <p>
        Currently {{ clients.length | i18nPlural:clientsMap }}
      </p>

      <p-button
        (click)="deleteClient()"
        label="Delete client"
      ></p-button>

      <p>
        <strong>i18nPlural Pipe:</strong> Handles pluralization of a string based on a number.
      </p>
    </p-fieldset>
  </div>

  <!-- Section for Slice Pipe -->
  <div class="col-12">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clients }}</pre>

      <b>slice:0:2</b>
      <pre>{{ clients | slice:0:2 }}</pre>

      <b>slice:1:2</b>
      <pre>{{ clients | slice:1:2 }}</pre>

      <b>slice:1:3</b>
      <pre>{{ clients | slice:1:3 }}</pre>

      <b>slice:3:4</b>
      <pre>{{ clients | slice:3:4 }}</pre>

      <b>slice:0:-3</b>
      <pre>{{ clients | slice:0:-3 }}</pre>

      <p>
        <strong>Slice Pipe:</strong> Extracts a portion of a string or an array.
      </p>
    </p-fieldset>
  </div>

  <!-- Section for Json Pipe -->
  <div class="col-12">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{ person | json }}</pre>
      <p>
        <strong>Json Pipe:</strong> Converts an object to its JSON representation.
      </p>
    </p-fieldset>
  </div>

  <!-- Section for KeyValue Pipe -->
  <div class="col-12">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">

      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b>{{ item.key | titlecase }}:</b> {{ item.value }}
        </li>
      </ul>

      <p>
        <strong>KeyValue Pipe:</strong> Iterates over the properties of an object and displays them as key-value pairs.
      </p>
    </p-fieldset>
  </div>

  <!-- Section for Async Pipe -->
  <div class="col-12">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="!(myObservableTimer | async)">Resolving observable</pre>
      <pre>{{ myObservableTimer | async }}</pre>

      <pre *ngIf="!(promiseValue | async)">Resolving promise</pre>
      <pre>{{ promiseValue | async }}</pre>

      <p>
        <strong>Async Pipe:</strong> Efficiently handles observables and promises.
      </p>
    </p-fieldset>
  </div>
</div>
