<!-- Introduction to Basic Angular Pipes -->
<p-panel header="Basic Pipes" class="p-1">
  <p>
    In Angular, pipes are data transformers that allow modifying the presentation of information in the user interface. Below are some basic pipes commonly included in the Common Module.
  </p>
</p-panel>

<!-- Input field for the name -->
<div class="col-12">
  <!-- Limit the length to 20 characters and prevent code injection -->
  <input pInputText [(ngModel)]="userName" placeholder="Enter your name" maxlength="20" (ngModelChange)="sanitizeInput()">
</div>

<div class="grid">
  <!-- Uppercase Pipe -->
  <div class="col-12 md:col-4">
    <p-card header="Uppercase Pipe">
      <p>
        The <strong>Uppercase Pipe</strong> converts text to uppercase.
      </p>
      <!-- Code Examples -->
      <pre><code>public nameLower: string = '{{ userName }}';</code></pre>
      <!-- Result -->
      <code>Result: {{ userName | uppercase }}</code>
    </p-card>
  </div>

  <!-- Lowercase Pipe -->
  <div class="col-12 md:col-4">
    <p-card header="Lowercase Pipe">
      <p>
        The <strong>Lowercase Pipe</strong> converts text to lowercase.
      </p>
      <!-- Code Examples -->
      <pre><code>public nameUpper: string = '{{ userName }}';</code></pre>
      <!-- Result -->
      <code>Result: {{ userName | lowercase }}</code>
    </p-card>
  </div>

  <!-- Titlecase Pipe -->
  <div class="col-12 md:col-4">
    <p-card header="Titlecase Pipe">
      <p>
        The <strong>Titlecase Pipe</strong> converts the first letter of each word to uppercase.
      </p>
      <!-- Code Examples -->
      <pre><code>public fullName: string = '{{ userName }}';</code></pre>
      <!-- Result -->
      <code>Result: {{ userName | titlecase }}</code>
    </p-card>
  </div>

  <!-- Date Pipe Examples -->
  <div class="col-12 md:col-6">
    <p-card header="Date Pipe Examples">
      <p>
        The <strong>Date Pipe</strong> formats dates according to the specified format.
      </p>
      <!-- Datepicker to select the date -->
      <div class="col-12">
        <p-calendar [(ngModel)]="selectedDate"></p-calendar>
      </div>
      <!-- Code Examples -->
      <pre><code>public fecha: Date = new Date();</code></pre>
      <!-- Result -->
      <ul>
        <li>{{ selectedDate }}</li>
        <li>{{ selectedDate | date }}</li>
        <li>{{ selectedDate | date:'short' }}</li>
        <li>{{ selectedDate | date:'long' }}</li>
        <li>{{ selectedDate | date:'MMMM' }}</li>
        <li>{{ selectedDate | date:'MMMM dd, yyyy' }}</li>
      </ul>

      <hr>

      <!-- Additional Code Examples -->
      <pre><code>public customDate: Date = new Date();</code></pre>
      <!-- Result -->
      <ul>
        <li>{{ selectedDate }}</li>
        <li>{{ selectedDate | date }}</li>
        <li>{{ selectedDate | date:'short' }}</li>
        <li>{{ selectedDate | date:'long' }}</li>
        <li>{{ selectedDate | date:'MMMM' }}</li>
        <li>{{ selectedDate | date:'MMMM dd, yyyy' }}</li>
      </ul>
    </p-card>
  </div>

  <!-- Custom Date Pipe Examples -->
  <div class="col-12 md:col-6">
    <p-card header="Custom Date Pipe Examples">
      <p>
        You can also use the <strong>Date Pipe</strong> to format custom dates.
      </p>
      <!-- Datepicker to select the date -->
      <div class="col-12">
        <p-calendar [(ngModel)]="customDate"></p-calendar>
      </div>
      <!-- Code Examples -->
      <pre><code>public customDate: Date = new Date();</code></pre>
      <!-- Result -->
      <ul>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date }}</li>
        <li>{{ customDate | date:'short' }}</li>
        <li>{{ customDate | date:'long' }}</li>
        <li>{{ customDate | date:'MMMM' }}</li>
        <li>{{ customDate | date:'MMMM dd, yyyy' }}</li>
      </ul>

      <hr>

      <ul>
        <li>{{ customDate | date:'long':'GMT-6' }}</li>
        <li>{{ customDate | date:'long':'GMT-4' }}</li>
        <li>{{ customDate | date:'long':'':'es-HN' }}</li>
        <li>{{ customDate | date:'long':'':'en-US' }}</li>
        <li>{{ customDate | date:'long':'':'fr-CA' }}</li>
      </ul>
    </p-card>
  </div>
</div>
